
h1,h2,h3,h4,a,p{
    font-family: 'Roboto';
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
   /* position:absolute; */
   width: 100%;
   /* margin-left: 180px; */
}

#logo{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color:#373867;
    display: inline-block;
    /* padding-left: 10px;
    padding-right: 30px; */
    font-size: 20px;
    margin-left: 0px;
    background-color: gray;
}

title{
    margin-left: 20px;
}

.arrow{
    text-align: 50px;
}

aside ul li a{
    width: 70%;
    height: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 25px;
    margin-left: 5px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    font-weight: medium;
    color: red;
    text-decoration-line: none;
    display: inline-block;
}

aside a:hover{
    color: black;
}

aside ul li a img{
    margin-right: 10px;
    margin-left: 10px;
}

.contact-us{
    padding-top: 170px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: medium;
    color: red;
    text-decoration-line: underline;
}

#contact-us-icon p{
    font-size: 12px;
}

aside a{
    width: 100%;
    height: 30px;
    padding-right: 40px;
    padding-top: 5px;
    margin-top: 15px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    font-weight: medium;
    color: red;
    text-decoration-line: none;
    display: inline-block;
}

aside a img{
    margin-right: 20px;
    margin-left: 20px;
}


header{
    height: 982px;
    width:90%;
    margin-top: 0px;
    margin-left: 10%;
    background-image: url('../assests/img.png/header-picture.png');
    background-repeat: no-repeat;
    /* padding: 100px 100px 100px 100px; */
    color: white;
    background-size: 1658px,1230px,auto;
}

.header-background{
    padding-left: 22px;
    padding-right: 7px;
    width: 366px;
    height: 982px;
    margin-left: 78px;
    background-color: rgba(0, 0, 0, 0.3);
    left: 50px;
}

header h1{
    padding-top: 170px;
    left: 205px;
    border-bottom: 2px solid #aace9b;
    font-size: 40px;
    font-weight: 700;
}

header h2{
    margin-bottom: 68px;
    margin-top: 17px;
    font-size: 20px;
    font-weight: 400;
}

header p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.who-container{
    padding-left: 10%;
}

.funcionalities article{
    margin-top: 100px;
    padding: 50px 75px;
}

article h2{
    margin-left: 162px;
    margin-top: 71px;
    border-bottom: 10px solid #d9d9d9;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.p1{
    height: 206px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 162px;
    line-height: 30px;
    text-align: center;
    color: #373867;
    margin-top: 83px;
}

.p2{
    height: 206px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 162px;
    line-height: 30px;
    text-align: center;
    color: #49a37b;
    margin-top: 30px;
}

.why-container{
    padding-left: 10%;
}

.why-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-left: 162px;
    margin-top: 48px;
    text-align: center;
    border-bottom: 10px solid #D9D9D9;
}

.card-box-white{
    height: 515px;
    padding-top: 163px;
    padding-left: 162px;
}

.h3-left{
    font-size: 40px;
    font-weight: bold;
    /* text-align: left; */
    border-bottom: 4px solid #286276;
}

.why-p-white{
    width: 600px;
    font-size: 30px;
    padding-top: 60px;
}

.white-img{
    padding-left: 882px;
    margin-top: -365px;
    margin-left: -259px;
}

.card-box-gray{
    height: 515px;
    padding-top: 20px;
    padding-left: 63px;
    margin-left: 36px;
    background-color: #D9D9D9;
}

.gray-img{
    margin-bottom: 251px;
    padding-top: 46px;
}

.h3-right{
    padding-left: 698px;
    margin-top: -620px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 4px solid white;
}

.why-p-gray{
    padding-top: 20px;
    padding-left: 702px;
    width: 480px;
    font-size: 30px;
}

.functionalities{
    padding-left: 163px;
}

.f-title{
    margin-left: 162px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-bottom: 10px solid #D9D9D9;
}
.functionalities h3{
    padding-left: 160px;
    font-size: 30px;
    font-weight: bold;
}

.functionalities img{
    margin-top: -35px;
}

.functionalities p{
    margin-top: -90px;
    margin-left: 160px;
    font-size: 20px;
}

.functionalities article{
    margin-top: 50px;
    margin-right: 110px;
    display: inline-block;
    width: 38%;
}

.f-container{
    width: 90%;
    margin-left: 10%;
    padding-top: 34px;
    padding-bottom: 54px;
}

.form-container input{
    width: 450px;
    height: 37px;
    margin-top: 23px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-label{
    margin-top: 50px;

}

.main-container span{
    display: inline-block;
    width: 45%;
}

.title-form{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    border-bottom: 10px solid  #D9D9D9;
}

.c-title{
    margin-left: 163px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-bottom: 10px solid #D9D9D9;
}

.c-container{
    padding-left: 10%;
}
form{
    width: 1029px;
    padding-top: 34px;
    margin-left: 163px;
}

form span{
    display: inline-block;
    width: 49.8%;
}

form input, form select{
    width: 100%;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}

form textarea{
    width: 100%;
    height: 224px;
    border: 1px solid #373867;
    border-radius: 4px;
    resize: none;
}

.send-button{
    width: 177px;
    height: 48px;
    margin-top: 16px;
    padding: 15px 20px 15px 20px;
    background-color: #AACE9B;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #373867;
    font-size: 15px;
    font-weight: 500;
}

.reset-button{
    width: 117px;
    height: 48px;
    margin-top: 16px;
    margin-left: 731px;
    padding: 0px 20px 15px 20px;
    background-color: #F13312;
    border-radius: 5px;
    color: #373867;
    font-size: 15px;
    font-weight: 500;
}

.product-enterprise-support{
    max-width: 90%;
    height: 176px;
    margin-left: 36px;
    margin-top: 16px;
    padding-left: 474px;
    padding-top: 63px;
    background-image: url('../assests/img.png/picture-footer.png');
    background-size: contain;
}

.product-enterprise-support div{
    display: inline-block;
    width: 32.8%;
}

footer {
    max-width: 90%;
    height: 176px;
    margin-right: 0px;
    padding-left: 10%;
    background-color: #AACE9B;
}

footer div:first-child{
    display: inline-block;
    margin-left: 465px;
    margin-right: 40px;
    margin-top: 25px;
}

footer div{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 16px;
}

footer i{
    color: white;
    font-size: 38px;
}

footer p{
    text-align: center;
    margin-top: 25px;
    line-height: 15px;
}

footer i:hover, .why-container h3:hover, .f-container h3:hover, .product-enterprise-support h4:hover{
    color: red;
}
